@inherits LayoutComponentBase
@inject IBootstrapCSS BootstrapCSS

@*
    We load up the CSS of BootStrap here
    and load up global CSS
*@

<div class="main">
    <NavigationBar />
    <div class="@container content px-4">
        @Body
    </div>
</div>

<Styled>
    p {
        font-size: 1.5rem;
    }
</Styled>

<Styled @bind-Classname="@container">
    margin-top: 30px;
</Styled>

@code {
    private bool isServerSide = false;
    private string container;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await BootstrapCSS.SetBootstrapCSS("4.3.1");
        }
        catch (Exception)
        {
            isServerSide = true;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstrun)
    {
        if (isServerSide && firstrun)
        {
            await BootstrapCSS.SetBootstrapCSS("4.3.1");
        }
    }
}
